:root {
  --default-font-size: 16px;
  --small-font-size: calc(var(--default-font-size) / 4 * 3);
  --large-font-size: calc(var(--default-font-size) / 4 * 5);
  --x-large-font-size: calc(var(--default-font-size) / 4 * 6);
  --xx-large-font-size: calc(var(--default-font-size) / 4 * 7);
  --xxx-large-font-size: calc(var(--default-font-size) / 4 * 8);
  --default-font-width: calc(var(--default-font-size) * 1.0);
  --default-padding-size: calc(var(--default-font-size) / 4);
  --twice-padding-size: calc(var(--default-padding-size) * 2);
  --default-radius-size: var(--default-padding-size);
  --bg-color: #fff;
  --text-color: #000;
  --label-color: #fff;
  --base-color: #069;
  --primary-color: #036;
  --secondary-color: #063;
  --assertive-color: #620;
  --cancel-color: #333;
  --inactive-color: #567;
  --gray-light-color: #ccc;
  --gray-middle-color: #999;
  --gray-dark-color: #333;
  --input-text-color: #336;
  --input-border-color: #ccc;
  --link-color: #036;;
  --input-bg-color: #d7f0f7;

  color-scheme: light dark;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000;
    --text-color: #fff;
    --input-text-color: #ccf;
    --link-color: #9cf;
    --input-border-color: #333;
    --input-bg-color: #123;
    --gray-light-color: #333;
    --gray-dark-color: #ccc;
    }
}

:focus,
:focus-visible {
  outline: none;
}

#root {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex: 0 0 40px;
  flex-direction: row;
  background-color: var(--base-color);
}

main {
  display: block;
  flex: 1 0 1px;
  padding: var(--default-padding-size);
  overflow: auto;
}

footer {
  flex: 0 0 24px;
  background-color: var(--gray-light-color);
}

.page-menu-backdrop {
  position: fixed;
  inset: 40px 0 0;
  z-index: 151;
	background-color: #0006;
	backdrop-filter: blur(3px);
}

.page-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 152;
  width: 240px;
  background-color: var(--bg-color);
  transform: translate(-240px, 0);
  transition-duration: 200ms;
  transition-property: transform;
}

.page-menu.appear {
  transform: translate(0, 0);
}

.page-title {
  padding: var(--twice-padding-size);
  font-size: var(--x-large-font-size);
  line-height: 1;
}

.page-status {
  padding: var(--default-padding-size) var(--twice-padding-size);
  line-height: 1;
}

body,
th,
td,
pre,
li,
label,
input,
button,
textarea,
select {
  font-family: Meiryo, Verdana, Geneva, Tahoma, sans-serif;
  font-size: var(--default-font-size);
  line-height: 1.5;
}

p,
pre {
  margin-block: 0;
}

body {
  background-color: var(--bg-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
  cursor: pointer;
}

nav li > a {
  display: block;
  padding: var(--twice-padding-size);
}

a:hover,
a:focus {
  text-decoration: underline;
  opacity: 0.8;
}

a:active {
  transform: scale(0.98);
}

nav ul {
  padding-inline-start: 0;
  list-style-type: none;
}

nav li {
  padding: 0;
}

button {
  padding: var(--default-padding-size) var(--twice-padding-size);
  color: var(--label-color);
  outline: none;
  background-color: var(--primary-color);
  border: solid 2px var(--primary-color);
  border-radius: var(--default-radius-size);
}

.form-control-with-icon>button {
  padding-left: calc(var(--twice-padding-size) + var(--default-font-size));
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

button:hover:not(:disabled),
button:focus:not(:disabled) {
  opacity: 0.8;
}

button:active:not(:disabled) {
  transform: scale(0.98);
}

button.btn-secondary {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

button.btn-assertive {
  background-color: var(--assertive-color);
  border-color: var(--assertive-color);
}

button.btn-clear {
  color: var(--text-color);
  background-color: transparent;
  border-color: transparent;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="email"],
input[type="phone"] {
  height: 24px;
}

select {
  height: 36px;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="email"],
input[type="phone"],
select,
textarea {
  padding: var(--default-padding-size) var(--twice-padding-size);
  color: var(--input-text-color);
  outline: none;
  background-color: var(--input-bg-color);
  border: solid 2px var(--input-border-color);
  border-radius: var(--default-radius-size);
}

input[type="number"] {
  text-align: right;
}

input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="email"]:focus,
input[type="phone"]:focus,
select:focus,
textarea:focus {
  background-color: var(--bg-color);
}

input[type="text"]:read-only,
input[type="password"]:read-only,
input[type="number"]:read-only,
input[type="date"]:read-only,
input[type="email"]:read-only,
input[type="phone"]:read-only,
select.select-read-only,
textarea:read-only {
  opacity: 0.6;
}

input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="number"]:disabled,
input[type="date"]:disabled,
input[type="email"]:disabled,
input[type="phone"]:disabled,
select:disabled,
textarea:disabled {
  color: var(--gray-middle-color);
  cursor: not-allowed;
  opacity: 0.5;
}

input[type="text"]:required:not(:disabled),
input[type="password"]:required:not(:disabled),
input[type="number"]:required:not(:disabled),
input[type="date"]:required:not(:disabled),
input[type="email"]:required:not(:disabled),
input[type="phone"]:required:not(:disabled),
select:required:not(:disabled),
textarea:required:not(:disabled) {
  border-color: var(--gray-middle-color);
}

input[type="text"]:hover:not(:disabled, :read-only),
input[type="password"]:hover:not(:disabled, :read-only),
input[type="number"]:hover:not(:disabled, :read-only),
input[type="date"]:hover:not(:disabled, :read-only),
input[type="email"]:hover:not(:disabled, :read-only),
input[type="phone"]:hover:not(:disabled, :read-only),
select:hover:not(:disabled, :read-only),
textarea:hover:not(:disabled, :read-only) {
  opacity: 0.8;
}

input[type="text"]:invalid:not(:disabled),
input[type="password"]:invalid:not(:disabled),
input[type="number"]:invalid:not(:disabled),
input[type="date"]:invalid:not(:disabled),
input[type="email"]:invalid:not(:disabled),
input[type="phone"]:invalid:not(:disabled),
select:invalid:not(:disabled),
textarea:invalid:not(:disabled) {
	border-color: var(--assertive-color);
}

input[type="checkbox"] {
  position: relative;
  flex-shrink: 0;
  width: 48px;
  height: 28px;
  padding: 0;
  margin: var(--default-padding-size) 0;
  appearance: none;
  cursor: default;
  background-color: var(--input-bg-color);
  border: solid 2px var(--input-border-color);
  border-radius: 72px;
}

input[type="checkbox"]::before {
  position: absolute;
  inset: -8px;
  content: "";
}

input[type="checkbox"],
input[type="checkbox"]::after {
  transition: all 125ms ease-out;
}

input[type="checkbox"]::after {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  content: "";
  background-color: var(--input-border-color);
  border-radius: 50%;
}

input[type="checkbox"]:checked {
  background-color: var(--primary-color);
}

input[type="checkbox"]:checked::after {
  left: 22px;
}

input[type="checkbox"]:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

input[type="checkbox"]:focus:not(:disabled)::after {
  background-color: var(--gray-light-color);
}

input[type="checkbox"]:not(.focus-visible) {
  outline: 0;
}

input[type="checkbox"]:hover:not(:disabled) {
  opacity: 0.7;
  transition-duration: 0s;
}

input[type="checkbox"].toggle-read-only {
  background-color: var(--inactive-color);
}

input[type="checkbox"].toggle-read-only:checked {
  background-color: var(--inactive-color);
}

.form-control-wrapper {
  padding: var(--default-padding-size);
  overflow: hidden;
}

.form-control {
	position: relative;
	display: grid;
}

.form-control>label,
.form-control>input,
.form-control>button {
	min-width: 0;
}

.form-control>label {
	grid-row: 1;
	padding: 0 var(--default-padding-size);
	overflow-x: hidden;
	text-overflow: ellipsis;
	font-size: var(--small-font-size);
	white-space: nowrap;
}

.form-control>label::after {
	content: ':';
}

.form-control>input:required~label {
	font-weight: bold;
}

.form-control>input:invalid~label {
	color: var(--assertive-color);
}

.form-control-with-icon>input {
  padding-left: calc(var(--twice-padding-size) + var(--default-font-size));
}

.accordion {
  position: relative;
  padding: var(--default-padding-size);
  margin-top: calc(var(--default-font-size) / 2 + var(--default-padding-size));
  border-top: solid 1px var(--gray-middle-color);
}

.accordion.accordion-open {
  height: auto;
  border: solid 1px var(--gray-middle-color);
  border-radius: var(--default-radius-size);
}

.accordion-header {
  position: relative;
  top: calc(var(--default-font-size) / -2 - var(--default-padding-size) * 2);
  margin-bottom: calc(-1 * var(--default-padding-size));
  cursor: pointer;
}

.accordion-title {
  padding-right: var(--default-font-size);
  margin: 0 var(--twice-padding-size);
  background-color: var(--bg-color);
}

.accordion-title::after {
  position: absolute;
  width: calc(var(--default-font-size) / 2);
  height: calc(var(--default-font-size) / 2);
  content: ' ';
  border-right: solid 1px var(--text-color);
  border-bottom: solid 1px var(--text-color);
  transform: translate(2px, 6px) rotate(-45deg);
  transform-origin: 7px 7px;
  transition-duration: 500ms;
  transition-property: transform;
}

.accordion-open .accordion-title::after {
  transform: translate(2px, 6px) rotate(45deg);
}

.data-table {
	position: static;
	max-width: 100vw;
	padding: 0;
	margin: 0;
	empty-cells: show;
	border-collapse: collapse;
}

.data-table-head {
	position: sticky;
	top: var(--twice-padding-size);
	z-index: 102;
	color: var(--label-color);
	cursor: pointer;
	background-color: var(--base-color);
}

.data-table th,
.data-table td {
	padding: var(--twice-padding-size);
	vertical-align: top;
}

.data-table-head th:not([align="right"]) {
	text-align: left;
}

.data-table-head th:hover {
	opacity: .7;
}

.data-table td {
	background-color: var(--bg-color);
}

.data-table-body > tr {
	border-bottom: solid 2px var(--base-color);
}

.data-table > caption {
	position: sticky;
	top: 0;
	z-index: 101;
	height: var(--twice-padding-size);
	max-height: var(--twice-padding-size);
	color: transparent;
	background-color: var(--bg-color);
}

main .data-table > caption {
  top: calc(-1 * var(--default-padding-size));
  height: calc(var(--twice-padding-size) + var(--default-padding-size));
  max-height: calc(var(--twice-padding-size) + var(--default-padding-size));
}

.data-field-number {
  text-align: right;
}

.sort-desc::after {
	content: '▼';
}

.sort-asc::after {
	content: '▲';
}

.icon {
  height: var(--default-font-size);
}

.icon path {
  fill: var(--text-color);
}

a .icon path {
  fill: var(--link-color);
}

.icon.icon-primary path {
  fill: var(--primary-color);
}

.icon.icon-secondary path {
  fill: var(--secondary-color);
}

.icon.icon-assertive path {
  fill: var(--assertive-color);
}

.icon.icon-cancel path {
  fill: var(--cancel-color);
}

.form-control-with-icon>input+.icon {
  position: absolute;
  bottom: calc(var(--twice-padding-size) + var(--default-padding-size) / 2);
  left: var(--twice-padding-size);
}

.form-control-with-icon>button+.icon {
  position: absolute;
  bottom: calc(var(--twice-padding-size) + var(--default-padding-size) / 2);
  left: var(--twice-padding-size);
}

.form-control-with-icon>input:invalid+.icon > path {
  fill: var(--assertive-color);
}

* + .tag {
	margin-left: var(--default-padding-size);
}

.tag {
	display: inline-block;
  min-width: calc(var(--default-font-size) * 2);
	padding: 0 var(--twice-padding-size);
	font-size: var(--small-font-size);
	color: var(--label-color);
	text-align: center;
	cursor: pointer;
	background-color: var(--primary-color);
	border: solid 2px var(--primary-color);
	border-radius: var(--default-font-size);
}

.tag-secondary {
	background-color: var(--secondary-color);
	border-color: var(--secondary-color);
}

.tag-assertive {
	background-color: var(--assertive-color);
	border-color: var(--assertive-color);
}

.tag-clear {
	background-color: var(--clear-color);
	border-color: var(--clear-color);
}

.tag-disabled {
	color: var(--primary-color);
	background-color: #0006;
}

.tag-disabled.tag-secondary {
	color: var(--secondary-color);
	background-color: #0006;
}

.tag-disabled.tag-assertive {
	color: var(--assertive-color);
	background-color: #0006;
}

.tag-disabled.tag-cancel {
	color: var(--cancel-color);
	background-color: #0006;
}

.form-control>.tag,
.form-control>.text-label {
  padding: calc(var(--default-padding-size) / 2) var(--default-padding-size);
  margin: var(--default-padding-size) 0;
}

.dialog-backdrop {
	position: fixed;
	inset: 0;
	z-index: 100;
	display: grid;
	grid-template-rows: 1fr auto 1fr;
	grid-template-columns: 1fr auto 1fr;
	background-color: #0006;
	backdrop-filter: blur(3px);
}

.dialog {
	display: flex;
	flex-direction: column;
	grid-row: 2;
	grid-column: 2;
	min-width: 40vw;
	max-width: 80vw;
	background-color: var(--bg-color);
	border-radius: var(--default-radius-size);
	transform: translate(0, 50vh);
	transition-timing-function: ease-out;
	transition-duration: 300ms;
	transition-property: transform;
}

.dialog.dialog-appear {
	transform: translate(0, 0);
}

.dialog-header {
	display: flex;
	flex-direction: row;
	height: 36px;
	color: var(--label-color);
	background-color: var(--primary-color);
	border-top-left-radius: var(--default-radius-size);
	border-top-right-radius: var(--default-radius-size);
}

.dialog-title {
	flex: 1 0 1px;
	padding: var(--default-padding-size);
	line-height: 28px;
}

.dialog-content {
	padding: var(--twice-padding-size);
	overflow-y: auto;
}

.dialog-footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.dialog-footer > * {
  flex: 1 0 1px;
}

.toast-backdrop {
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 200;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding-right: 20px;
}

.toast {
	display: inline-block;
	max-width: 200px;
	padding: var(--default-padding-size) var(--twice-padding-size);
	margin: var(--twice-padding-size);
	color: var(--light-label-color);
	cursor: pointer;
	background-color: var(--light-primary-color);
	border-radius: var(--default-radius-size);
	box-shadow: 0 0 2px #999;
	opacity: 1;
	transform: scale(1.0);
	transform-origin: 100% 100%;
	transition: transform 500ms ease-out 500ms, opacity 500ms ease-out 500ms;
}

.toast-appears {
	transform: scale(1.1);
}

.toast-hiding {
	opacity: 0;
}

.toast-secondary {
	background-color: var(--secondary-color);
}

.toast-assertive {
	background-color: var(--assertive-color);
}

.toast-clear {
	color: var(--text-color);
	background-color: #0006;
	backdrop-filter: blur(3px);
}

.input-list-wrapper {
  position: relative;
  display: inline-block;
}

.input-list {
  position: absolute;
  top: 60px;
  z-index: 21;
  max-width: 240px;
  max-height: 120px;
  padding: var(--twice-padding-size);
  padding-inline-start: 0;
  margin: 0 var(--twice-padding-size);
  overflow: hidden auto;
  list-style-type: none;
  background-color: var(--bg-color);
  border-radius: var(--default-radius-size);
}

.input-list-selected {
  display: block;
  text-decoration: underline;
  opacity: 0.8;
}

.input-list-value,
.input-list-desc {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.input-list-desc {
  display: block;
  font-size: var(--small-font-size);
}

.markdown-preview blockquote {
  padding: var(--default-padding-size);
  margin: var(--default-padding-size);
  border-left: var(--gray-light-color) solid 8px;
}

.markdown-preview blockquote::before {
  display: block;
  font-weight: bold;
}

.markdown-preview blockquote.note {
  border-color: var(--primary-color);
}

.markdown-preview blockquote.note::before {
  color: var(--primary-color);
  content: 'Note:';
}

.markdown-preview blockquote.tip {
  border-color: var(--base-color);
}

.markdown-preview blockquote.tip::before {
  color: var(--base-color);
  content: 'Tips:';
}

.markdown-preview blockquote.important {
  border-color: var(--light-gray-color);
}

.markdown-preview blockquote.important::before {
  color: var(--light-gray-color);
  content: 'Important:';
}

.markdown-preview blockquote.warning {
  border-color: var(--assertive-color);
}

.markdown-preview blockquote.warning::before {
  color: var(--assertive-color);
  content: 'Warning:';
}

.markdown-preview blockquote.caution {
  border-color: var(--secondary-color);
}

.markdown-preview blockquote.caution::before {
  color: var(--secondary-color);
  content: 'Caution:';
}

.page-markdown {
  display: grid;
  flex: 1 0 1px;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

.page-markdown-panel {
  display: grid;
  overflow: auto;
}

.page-markdown-preview {
  overflow-x: auto;
}

@media screen and (width <= 640px) {
  .data-table {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
  }
  
  .data-table-head,
  .data-table-body {
    display: flex;
    flex-direction: column;
  }
  
  .data-table tr {
    display: flex;
    flex-flow: row wrap;
  }
  
  .data-table-body tr {
    border-bottom: solid 2px var(--primary-color);
  }
  
  .data-table th,
  .data-table td {
    display: block;
    flex: 1 1 90%;
    border: none;
  }

	.dialog {
		max-width: 100vw;
		max-height: 100vh;
	}
}

@media screen and (width > 640px) {
  .form-control-wrapper {
    display: inline-block;
  }

  .control-size-1chars {
    width: calc(var(--default-font-size) * 1 + var(--twice-padding-size) * 2 + var(--default-padding-size) * 2);
  }

  .control-size-2chars {
    width: calc(var(--default-font-width) * 2 + var(--twice-padding-size) * 2 + var(--default-padding-size) * 2);
  }

  .control-size-3chars {
    width: calc(var(--default-font-width) * 3 + var(--twice-padding-size) * 2 + var(--default-padding-size) * 2);
  }

  .control-size-4chars {
    width: calc(var(--default-font-width) * 4 + var(--twice-padding-size) * 2 + var(--default-padding-size) * 2);
  }

  .control-size-5chars {
    width: calc(var(--default-font-width) * 5 + var(--twice-padding-size) * 2 + var(--default-padding-size) * 2);
  }

  .control-size-6chars {
    width: calc(var(--default-font-width) * 6 + var(--twice-padding-size) * 2 + var(--default-padding-size) * 2);
  }

  .control-size-7chars {
    width: calc(var(--default-font-width) * 7 + var(--twice-padding-size) * 2 + var(--default-padding-size) * 2);
  }

  .control-size-8chars {
    width: calc(var(--default-font-width) * 8 + var(--twice-padding-size) * 2 + var(--default-padding-size) * 2);
  }

  .control-size-9chars {
    width: calc(var(--default-font-width) * 9 + var(--twice-padding-size) * 2 + var(--default-padding-size) * 2);
  }

  .control-size-10chars {
    width: calc(var(--default-font-width) * 10 + var(--twice-padding-size) * 2 + var(--default-padding-size) * 2);
  }

  .control-size-fx1 {
    flex: 1 0 1px;
  }

  .control-size-fx2 {
    flex: 2 0 1px;
  }

  .control-size-fx3 {
    flex: 3 0 1px;
  }

  .control-size-fx4 {
    flex: 4 0 1px;
  }
}

@media screen and (prefers-color-scheme: dark) {
  a:hover,
  a:focus {
    opacity: 1;
    filter: brightness(150%);
  }

  button:hover:not(:disabled, .btn-read-only),
  button:focus:not(:disabled, .btn-read-only) {
    opacity: 1;
    filter: brightness(150%);
  }

  input[type="text"]:hover:not(:disabled, :read-only),
  input[type="password"]:hover:not(:disabled, :read-only),
  input[type="number"]:hover:not(:disabled, :read-only),
  input[type="date"]:hover:not(:disabled, :read-only),
  input[type="phone"]:hover:not(:disabled, :read-only),
  select:hover:not(:disabled, :read-only),
  textarea:hover:not(:disabled, :read-only) {
    opacity: 1;
    filter: brightness(150%);
  }

  input[type="checkbox"]:hover:not(:disabled) {
    opacity: 1;
    filter: brightness(150%);
  }

  input[type="checkbox"]:focus:not(:disabled)::after {
    background-color: var(--gray-dark-color);
  }

  .input-list-selected {
    opacity: 1;
    filter: brightness(150%);
  }
}
